*{
    flex-flow: row wrap;
    position: absolute;
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

.parent{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    margin: auto;
    height: 150px;
    width: 1380px;
    border: 5px solid black;
    background: cyan;
     
}

span{
    
    font-size: 40px;
  
    
}

.parent1{
    background:indigo;
    display: flex;
   margin-top: 150px;
    border: 5px solid black;
    height: 1000px;
    width: 200px;
}


.span1{
    display: flex;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    
    
}


.parent2{
    background: red;
    border: 5px solid black;
    height: 1000px;
    width: 200px;
   margin-left: 1175px;
   margin-top: 150px;
}


.span2{
    display: flex;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    
}


.parent3{
    
    display: flex;
    justify-content: center;
    border: 5px solid black;
    height: 1000px;
    width: 980px;
   margin-left: 200px;
   margin-top: 150px;
}


.span3{
    font-style: italic;
    margin-top: 20px;
    color: rgb(0, 0, 0);



    
    
}


.span11{
    display:flex;
    font-size: 20px;
    text-decoration: overline;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}


.a1{
    margin-left: 1100px;
}
.a2{
    margin-left: 1240px;
}

.input1{
    margin-left:710px;
    margin-top: 2px;
}

button{
    margin-left:940px;
    margin-top: 2px;
}

img{
    height: 150px;
    width: 1380px;
}
